.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:595pt;
	height:842pt;
	position:absolute;
}
.e2_4 { 
	color:rgba(0, 0, 0, 1);
	width:164pt;
	height:14pt;
	position:absolute;
	left:215pt;
	top:87pt;
	font-family:Tinos;
	text-align:center;
	font-size:12pt;
	letter-spacing:0;
}
.e2_9 { 
	color:rgba(0, 0, 0, 1);
	width:505pt;
	height:24pt;
	position:absolute;
	left:40pt;
	top:171pt;
	text-align:left;
	font-size:Symbol(figma.mixed)pt;
	letter-spacing:0;
	line-height:pt;
}
.e2_11 { 
	color:rgba(0, 0, 0, 1);
	width:517pt;
	height:28pt;
	position:absolute;
	left:40pt;
	top:549pt;
	text-align:left;
	font-size:12pt;
	letter-spacing:0;
}
.e2_12 { 
	color:rgba(0, 0, 0, 1);
	width:256pt;
	height:14pt;
	position:absolute;
	left:39pt;
	top:613pt;
	font-family:Tinos;
	text-align:left;
	font-size:12pt;
	letter-spacing:0;
}
.e2_16 { 
	color:rgba(0, 0, 0, 1);
	width:239pt;
	height:14pt;
	position:absolute;
	left:321pt;
	top:613pt;
	font-family:Tinos;
	text-align:left;
	font-size:Symbol(figma.mixed)pt;
	letter-spacing:0;
}
.e2_18 { 
	color:rgba(0, 0, 0, 1);
	width:195pt;
	height:14pt;
	position:absolute;
	left:362pt;
	top:646pt;
	font-family:Tinos;
	text-align:left;
	font-size:Symbol(figma.mixed)pt;
	letter-spacing:0;
}
.e2_19 { 
	color:rgba(0, 0, 0, 1);
	width:198pt;
	height:14pt;
	position:absolute;
	left:363pt;
	top:664pt;
	font-family:Tinos;
	text-align:left;
	font-size:Symbol(figma.mixed)pt;
	letter-spacing:0;
}
.e2_17 { 
	color:rgba(0, 0, 0, 1);
	width:236pt;
	height:11pt;
	position:absolute;
	left:321pt;
	top:631pt;
	font-family:Tinos;
	text-align:left;
	font-size:10pt;
	letter-spacing:0;
}
.e2_14 { 
	color:rgba(0, 0, 0, 1);
	width:257pt;
	height:14pt;
	position:absolute;
	left:39pt;
	top:640pt;
	font-family:Tinos;
	text-align:left;
	font-size:12pt;
	letter-spacing:0;
}
.e2_15 { 
	color:rgba(0, 0, 0, 1);
	width:257pt;
	height:14pt;
	position:absolute;
	left:39pt;
	top:667pt;
	font-family:Tinos;
	text-align:left;
	font-size:12pt;
	letter-spacing:0;
}
.e2_5 { 
	color:rgba(0, 0, 0, 1);
	width:291pt;
	height:18pt;
	position:absolute;
	left:152pt;
	top:107pt;
	font-family:Tinos;
	text-align:center;
	font-size:16pt;
	letter-spacing:0;
}
.e2_7 { 
	color:rgba(0, 0, 0, 1);
	width:291pt;
	height:18pt;
	position:absolute;
	left:152pt;
	top:107pt;
	font-family:Tinos;
	text-align:center;
	font-size:16pt;
	letter-spacing:0;
}
.e2_20 { 
	color:rgba(0, 0, 0, 1);
	width:530pt;
	height:11pt;
	position:absolute;
	left:40pt;
	top:700pt;
	font-family:Tinos;
	text-align:left;
	font-size:10pt;
	letter-spacing:0;
}
.e2_21 { 
	color:rgba(0, 0, 0, 1);
	width:441pt;
	height:55pt;
	position:absolute;
	left:40pt;
	top:724pt;
	font-family:Tinos;
	text-align:left;
	font-size:10pt;
	letter-spacing:0;
}
.e2_22 { 
	color:rgba(0, 0, 0, 1);
	width:530pt;
	height:22pt;
	position:absolute;
	left:40pt;
	top:792pt;
	font-family:Tinos;
	text-align:left;
	font-size:10pt;
	letter-spacing:0;
}
.e2_3 { 
	width:100pt;
	height:67.421875pt;
	position:absolute;
	left:247pt;
	top:10pt;
	background-image:url(images/national_emblem_of_papua_new_guinea_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_25 { 
	color:rgba(0, 0, 0, 1);
	width:496pt;
	height:210pt;
	position:absolute;
	left:49pt;
	top:242pt;
	font-family:Tinos;
	text-align:left;
	font-size:12pt;
	letter-spacing:0;
}
